Q: What is the difference between functions vs methods vs attributes?

A: a function or method **does** something with the object you run it on.

In [1]:
text = "hello, this is some text"

# functions can be recognized by their trailing parentheses
type(text)

str

In [2]:
# methods are accessed through dot notation
text.upper()

'HELLO, THIS IS SOME TEXT'

Pandas has a lot of methods, such as `head()`

In [2]:
# a CSV file
import pandas as pd

df = pd.read_csv('data/gapminder-FiveYearData.csv')

In [12]:
# methods are accessed through dot notation
df.head(100)

        country  year         pop continent  lifeExp     gdpPercap
0   Afghanistan  1952   8425333.0      Asia   28.801    779.445314
1   Afghanistan  1957   9240934.0      Asia   30.332    820.853030
2   Afghanistan  1962  10267083.0      Asia   31.997    853.100710
3   Afghanistan  1967  11537966.0      Asia   34.020    836.197138
4   Afghanistan  1972  13079460.0      Asia   36.088    739.981106
..          ...   ...         ...       ...      ...           ...
95      Bahrain  2007    708573.0      Asia   75.635  29796.048340
96   Bangladesh  1952  46886859.0      Asia   37.484    684.244172
97   Bangladesh  1957  51365468.0      Asia   39.348    661.637458
98   Bangladesh  1962  56839289.0      Asia   41.216    686.341554
99   Bangladesh  1967  62821884.0      Asia   43.453    721.186086

[100 rows x 6 columns]

`sort_values()` is also a method.

In [9]:
df.sort_values(by='lifeExp')

              country  year          pop continent  lifeExp     gdpPercap
1292           Rwanda  1992    7290203.0    Africa   23.599    737.068595
0         Afghanistan  1952    8425333.0      Asia   28.801    779.445314
552            Gambia  1952     284320.0    Africa   30.000    485.230659
36             Angola  1952    4232095.0    Africa   30.015   3520.610273
1344     Sierra Leone  1952    2143249.0    Africa   30.331    879.787736
...               ...   ...          ...       ...      ...           ...
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.419070
695           Iceland  2007     301931.0    Europe   81.757  36180.789190
802             Japan  2002  127065841.0      Asia   82.000  28604.591900
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.978670
803             Japan  2007  127467972.0      Asia   82.603  31656.068060

[1704 rows x 6 columns]

An attribute does not **do** anything with an object. Instead, it gives you **information** about an object you run it on.

In [4]:
# get the columns of a dataframe
text.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [5]:
# get the shape of a dataframe
df.shape

(1704, 6)